.x_axis {
  font-size: 1em
}

.y_axis {
  font-size: 1em
}

.biglabel {
  font-size: 1.5em
}

.overlay {
  fill: none;
  pointer-events: all;
}

.grey_line {
  stroke: gray;
  stroke-width: 2;
  fill: none;
}

.blue_line {
  stroke: blue;
  stroke-width: 2;
  fill: none;
}

.red_line {
  stroke: red;
  stroke-width: 2;
  fill: none;
}

.orange_line {
  stroke: orange;
  stroke-width: 2;
  fill: none;
}

.osc_line {
  stroke: blue;
  stroke-width: 2;
  fill: none;
}

.osc_next {
  stroke: red;
}

.dashed_line {
  stroke-dasharray: 5, 5;
}

.constraint_line {
  stroke-width: 2;
  fill: none;
}

path.other_hierarchy {
  stroke-width: 1 !important;
  stroke: lightgray !important;
}

.T2K2018 {
  stroke: red;
}

.NH_68 {
  stroke-dasharray: 5, 5;
}

.NOvA2018 {
  stroke: green;
}

.NuFIT4 {
  stroke: blue;
}

.KamLand {
  stroke: purple;
}

.SolarGlobal {
  stroke: magenta;
}

.DayaBay2016 {
  stroke: orange;
  stroke-dasharray: 5, 5;
}

text.legend {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration:underline; 
  fill:blue;
}

.ColorWheel-1 {
  stroke: #181994;
  color: #181994;
}

.ColorWheel-2 {
  stroke: #a51760;
  color: #a51760;
}

.ColorWheel-3 {
  stroke: #b6b316;
  color: #b6b316;
}

.ColorWheel-4 {
  stroke: #14c76b;
  color: #14c76b;
}

.ColorWheel-5 {
  stroke: #ff8066;
  color: #ff8066;
}

circle.ColorWheel-1 {
  stroke: #181994;
  fill: #181994;
}

circle.ColorWheel-2 {
  stroke: #a51760;
  fill: #a51760;
}

circle.ColorWheel-3 {
  stroke: #b6b316;
  fill: #b6b316;
}

circle.ColorWheel-4 {
  stroke: #14c76b;
  fill: #14c76b;
}

circle.ColorWheel-5 {
  stroke: #ff8066;
  fill: #ff8066;
}

circle.inverted_hierarchy {
  fill: none !important;
  stroke-width: 2;
}

circle.normal_hierarchy {
  
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 15em;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

td.oscpar {
  vertical-align: middle;
}